body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    background-color: red;
}

header {
    padding: 50px;
    background: #222;
}

img {
    border-radius: 50%;
}

